<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/main_page">Online_Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Categorise 1</a>
                    <a class="dropdown-item" href="#">Categorise 2</a>
                    <a class="dropdown-item" href="#">Categorise 3</a>
                    <a class="dropdown-item" href="#">Categorise 4</a>
                    <a class="dropdown-item" href="#">Categorise 5</a>
                    <a class="dropdown-item" href="#">Categorise 6</a>
                </div>
            </li>
        </ul>

        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div style="float:right; width:10%">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">BASKET<i class="fas fa-cart-arrow-down"></i></a>
                </li>
            </ul>
        </div>

        <ul class="nav justify-content-end" style="float:right; width:40%">
            <li class="nav-item">
                <a class="nav-link" href="/logout">LOG OUT<i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign_up">SIGN UP<i class="fas fa-user-plus"></i></a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<br>
<div class="container">
    <h1 align="center">Update user</h1>
</div>
<form class="container" id="editUser">
    <br>
    <div class="row" align="center">
        <div>
            <input type="number" id="editId" hidden>
        </div>
        <div class="col">
            <label for="editUserName">User Name</label>
            <br>
            <input type="text" class="form-control control-input col-sm-8" id="editUserName" required>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <label for="editLastName">Last Name</label>
            <br>
            <input type="text" class="form-control control-input col-sm-8" id="editLastName" required>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <label for="editEmail">Email</label>
            <br>
            <input type="email" class="form-control control-input col-sm-8" id="editEmail" required>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <label for="editPhoneNumber">Phone number</label>
            <br>
            <input type="number" class="form-control control-input col-sm-8" id="editPhoneNumber" required>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <label for="editBirthday">Birth date</label>
            <br>
            <input type="date" class="form-control control-input col-sm-5" id="editBirthday" required>

            <input type="password" class="form-control" id="editPassword" hidden>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <label for="editProfile">Profile</label>
            <br>
            <input type="file" style="width: 300px" class="form-control" id="editProfile" required>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="radio1" value="Male" checked>
                    Male
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="radio2" value="Female">
                    Female
                </label>
            </div>
        </div>
        <div class="col">
            <input type="date" id="registerDate" required hidden>
            <input type="text" id="role" required hidden>
        </div>
    </div>
    <br>
    <div align="center">
        <input class="btn btn-primary" type="submit" value="update">
    </div>
    <hr>
</form>
<footer class="page-footer font-small mdb-color pt-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p><a href="#!">Categories 1</a></p>
                <p><a href="#!">Categories 2</a></p>
                <p><a href="#!">Categories 3</a></p>
                <p><a href="#!">Categories 4</a></p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p><a href="#!">Link 1</a></p>
                <p><a href="#!">Link 2</a></p>
                <p><a href="#!">Link 3</a></p>
                <p><a href="#!">Link 4</a></p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Bishkek,  720010, Kyrgyzstan</p>
                <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 996 312 312 312</p>
                <p><i class="fas fa-print mr-3"></i> + 996 315 315 315</p>
            </div>

        </div>

        <hr>

        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left"><i class="fas fa-copyright"></i> 2021 Copyright:
                    <a href="#"><strong> Online-store.kg</strong></a>
                </p>

            </div>

            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<script>
    function getUser() {
        let response = fetch('http://localhost:9898/users/user')
            .then((res) => {
                return res.json()
            }).then((user) => {
                let userRole = '';
                for (let i = 0; i < user.roles.length; i++) {
                    userRole += `${user.roles[i].name}`
                }
                console.log("test:  ", user)
                document.getElementById('editId').value = user.id;
                document.getElementById('editUserName').value = user.username;
                document.getElementById('editLastName').value = user.lastName;
                document.getElementById('editEmail').value = user.email;
                document.getElementById('editPassword').value = user.password;
                document.getElementById('editPhoneNumber').value = user.phoneNumber;
                document.getElementById('registerDate').value = user.registerDate;
                document.getElementById('role').value = userRole;
            })
    }
    getUser()
    let editForm = document.getElementById('editUser');
    editForm.addEventListener('submit', function (e) {
        e.preventDefault();
        let profilePicture = document.getElementById('editProfile').value;
        let eid = document.getElementById('editId').value;
        let eusername = document.getElementById('editUserName').value;
        let elastName = document.getElementById('editLastName').value;
        let egender = '';
        let eemail = document.getElementById('editEmail').value;
        let epassword = document.getElementById('editPassword').value;
        let ephoneNumber = document.getElementById('editPhoneNumber').value;
        let ebirthDay = document.getElementById('editBirthday').value;
        let eregisterDate = document.getElementById('registerDate').value;
        let radio = document.getElementsByName('optionsRadios');
        for (let i = 0; i < radio.length; i++) {
            if(radio[i].checked) {
                 egender = radio[i].value;
            }
        }
        let role = document.getElementById('role').value;

        fetch('http://localhost:9898/users/updateUser', {
            method: 'PUT',
            headers: {
                "Content-Type":"application/json"
            },
            body: JSON.stringify({
                id: eid,
                username: eusername,
                lastName: elastName,
                gender: egender,
                email: eemail,
                password: epassword,
                phoneNumber: ephoneNumber,
                profilePicture: profilePicture,
                birthDate: ebirthDay,
                registerDate: eregisterDate,
                roles:[
                    {
                        name:role
                    }
                ]
            }),
        }).then((res) => {
            if(res.ok) {
                setTimeout(test, 50)
            }
        })
        function test() {
            document.location.href = 'http://localhost:9898/main_page'
        }
    })

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>