<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
</head>
<body>
<div class="container-fluid" style="width: 1500px; height: 900px">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/main_page">Company LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME<span class="sr-only"></span></a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"-->
<!--                       aria-haspopup="true" aria-expanded="false">Categories</a>-->
<!--                    &lt;!&ndash;                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>&ndash;&gt;-->
<!--                    <div class="container">-->
<!--                        <ul class="dropdown-menu" id="categories">-->

<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
            <div style="float:left; width:50%">
                <div style="float:left; width:50%">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOGIN<i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SIGNUP<i class="fas fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CART<i class="fas fa-cart-arrow-down"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main_page/userProfile">Profile <i class="fas fa-user-circle"></i></a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="main">
        <div class="container" style="display: inline-flex; width: 550px; height: 300px; margin-left: 100px; ; margin-top: 50px" >
            <a href="/main_page/phones">Phone</a>
            <img style="width: 250px; height: 150px" src="http://www.elongmobile.com/wp-content/uploads/2020/06/EL-D68.png" alt="">

            <a href="/main_page/laptops">Laptop</a>
            <img style="width: 250px; height: 150px" src="https://www.notebookcheck-tr.com/uploads/tx_nbc2/SL4_AMD_1.jpg" alt="">

            <a href="/main_page/televisions">Television</a>
            <img style="width: 250px; height: 150px" src="https://www.heathcotes.co.nz/spree/products/37131/xl/Konic_32inch_1.png?1602465992" alt="">

            <a href="/main_page/fridges">Fridge</a>
            <img style="width: 250px; height: 150px" src="https://cdn.shopify.com/s/files/1/0036/4806/1509/products/8f19d4d2b8554289d1ad8c1bb28fd0be357cd0d3_square2911285_1.jpg?v=1601835468" alt="">

            <a href="/main_page/washMachine">Wash Machine</a>
            <img style="width: 250px; height: 150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkyVPRL0_uWm9_D6tF94qTBktBRDBkw-z6nA&usqp=CAU" alt="">
        </div>
        <div id="productList">

        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit.</p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p><a href="#!">Categories 1</a></p>
                    <p><a href="#!">Categories 2</a></p>
                    <p><a href="#!">Categories 3</a></p>
                    <p><a href="#!">Categories 4</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                    <p><a href="#!">Link 1</a></p>
                    <p><a href="#!">Link 2</a></p>
                    <p><a href="#!">Link 3</a></p>
                    <p><a href="#!">Link 4</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> Bishkek, 720010, Kyrgyzstan</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 996 312 312 312</p>
                    <p><i class="fas fa-print mr-3"></i> + 996 315 315 315</p>
                </div>
            </div>
            <hr>
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p class="text-center text-md-left"><i class="fas fa-copyright"></i> 2021 Copyright:
                        <a href="#"><strong> Online-store.kg</strong></a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4 ml-lg-0">
                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="js/products-order-by-rating.js"></script>
<script src="js/category_in_main_page.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>