<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>

</head>
<body>



<div id="news_model_body" class="modal-body" style="display: flex">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"><a href="/main_page">Left</a></button>
<!--        <button type="button" class="btn btn-primary"><a href="/stocks">Middle</a></button>-->
</div>
</div>



<script src="js/news_page.js"></script>


</body>
</html>