<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles/news.css" />
</head>
<bod>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/main_page">Online_Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu" id="categories">
                </ul>
            </li>
        </ul>

        <div class="container-center">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div style="float:left; width:10%">
            <ul class="nav justify-content-end" >
                <li class="nav-item">
                    <a class="nav-link" href="#">BASKET<i class="fas fa-cart-arrow-down"></i></a>
                </li>
            </ul>
        </div>

        <ul class="nav justify-content-end" style="float:left; width:40%">
            <li class="nav-item ">
                <a class="nav-link" href="/logout">LOG OUT<i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign_up">SIGN UP<i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main_page/userProfile">Profile <i
                        class="fas fa-user-circle"></i></a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<br>
<div class="container">
    <nav class="navbar navbar-default navbat-left jumbotron">

        <div class="row">
            <div class="col-md-6">
                <div>
                    <!--                2048  x  1536 style="width:512px;height:384px;"-->
                    <img src="https://www.pngkey.com/png/detail/239-2398391_online-stores.png"
                         alt="" width="512" height="384"></div>
            </div>

            <div class="col-md-6 container-fluid" style="padding-left: 30px">
                <h4 class="color-text">Открытие нового филиала: <small>Online Store</small></h4>
                <h4 class="color-text">Дата: <small>20 сентебря 2021г.</small></h4>
                <hr>
                <br>
                <h5 >еще в честь открытия мы хотим разыграть новый iPhone 12,поэтому
                    мы ждем всех на
                    открытие нашего филиала</h5>

            </div>

            <div class="col-md-6">

                <div>
                    <!--                2048  x  1536 style="width:512px;height:384px;"-->
                    <img src="https://eco-conditioner.ru/components/com_jshopping/files/img_products/AM09BP-NSJR0.jpg"
                         alt="" width="512" height="384"></div>
            </div>

            <div class="col-md-6 container-fluid" style="padding-left: 30px">
                <h4 class="color-text">Скоро в продаже новый товар: <small>Кондиционер</small></h4>
                <h4 class="color-text">В продаже с: <small>20 сентебря 2021г.</small></h4>
                <hr>

                <br>
                <h5> <p style="font-size: 15px">
                    <b> От компании:</b> LD
                </p>
                    <p style="font-size: 15px">
                        <b>Гарантия:</b> 4 года
                    </p>
                    <p style="font-size: 15px">
                        <b>Цвет:</b> черный
                    </p>
                    <p style="font-size: 15px">
                        <b>Размер:</b> 1.5
                    </p>
                    <p style="font-size: 15px">
                        <b>Вес:</b> 3кг
                    </p>
                </h5>
            </div>


            <div class="col-md-6">

                <div>

                    <!--                2048  x  1536 style="width:512px;height:384px;"-->
                    <img src="https://i.gadgets360cdn.com/large/Apple_AirPods_1473321479359.jpeg"
                         alt="" width="512" height="384"></div>
            </div>
            <div class="col-md-6 container-fluid" style="padding-left: 30px">
                <h4 class="color-text">Скоро в продаже новый товар: <small>airPods</small></h4>
                <h4 class="color-text">В продаже с: <small>15 октября 2021г.</small></h4>
                <hr>
                <h5 ></h5>

                <p style="font-size: 15px">
                    <b> От компании:</b> iPhone
                </p>
                <p style="font-size: 15px">
                    <b>Гарантия:</b> 1 год
                </p>
                <p style="font-size: 15px">
                    <b>Цвет:</b> во всех рассветках
                </p>
                <p style="font-size: 15px">
                    <b>Размер:</b> 66
                </p>
                <p style="font-size: 15px">
                    <b>Вес:</b> 100гр
                </p>
            </div>
        </div>

    </nav>
    <script src="main.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</div>
</bod>
</html>