<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/main_page">Online_Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu" id="categories">
                </ul>
            </li>
        </ul>

        <div class="container-center">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div style="float:left; width:10%">
            <ul class="nav justify-content-end" >
                <li class="nav-item">
                    <a class="nav-link" href="#">BASKET<i class="fas fa-cart-arrow-down"></i></a>
                </li>
            </ul>
        </div>

        <ul class="nav justify-content-end" style="float:left; width:40%">
            <li class="nav-item ">
                <a class="nav-link" href="/logout">LOG OUT<i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign_up">SIGN UP<i class="fas fa-user-plus"></i></a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<main role="main">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="container col-md-12">
<!--                    <div class="container">-->
                        <div id="productL" style="display: flex; flex-wrap: wrap"></div>
                        <br>
                        <br>
                        <br>
<!--                    </div>-->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</main>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p><a href="#!">Categories 1</a></p>
                <p><a href="#!">Categories 2</a></p>
                <p><a href="#!">Categories 3</a></p>
                <p><a href="#!">Categories 4</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p><a href="#!">Link 1</a></p>
                <p><a href="#!">Link 2</a></p>
                <p><a href="#!">Link 3</a></p>
                <p><a href="#!">Link 4</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Bishkek, 720010, Kyrgyzstan</p>
                <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 996 312 312 312</p>
                <p><i class="fas fa-print mr-3"></i> + 996 315 315 315</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left"><i class="fas fa-copyright"></i> 2021 Copyright:
                    <a href="#"><strong> Online-store.kg</strong></a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!--    <meta charset="UTF-8">-->
<!--    <title>info</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<!--    &lt;!&ndash; Optional theme &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
<!--          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
<!--    <style>-->

<!--        body {-->
<!--            /*https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg&ga=GA1.2.1445824779.1623974400*/-->
<!--            background-image: url("https://images.wallpaperscraft.ru/image/tekstura_fon_tekst_simvoly_50473_1920x1080.jpg");-->
<!--            background-repeat: no-repeat;-->
<!--            background-attachment: fixed;-->
<!--            background-size: cover;-->
<!--            background-size: 100% 100%;-->
<!--        }-->





<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid">-->
<!--    <nav class="navbar navbar-default">-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--                <a href="#" class="navbar-brand">online-store</a>-->
<!--            </div>-->
<!--            <ul class="nav navbar-nav ">-->
<!--                <li><a href="#">Главная</a></li>-->
<!--                <li class="active"><a href="#">Информация о продукте</a></li>-->
<!--                <li><a href="#">Помощь</a></li>-->
<!--                <li><a href="#">О нас</a></li>-->
<!--            </ul>-->
<!--            <div class="navbar-form navbar-right">-->
<!--                <button type="submit" class="btn btn-success">Регистрация</button>-->

<!--                <button type="submit" class="btn btn-success">Вход</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <nav class="navbar navbar-default navbat-left jumbotron">-->
<!--        <div class="container-fluid">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div>-->
<!--                        &lt;!&ndash;                2048  x  1536 style="width:512px;height:384px;"&ndash;&gt;-->
<!--                        <img src="https://images.squarespace-cdn.com/content/v1/5c6a80497a1fbd48bc523e2e/1553162161386-I3RN91PU4U374YWS3FSY/093-RST_0279-Modifier.jpg?format=1500w"-->
<!--                             alt="" width="512" height="384"></div>-->
<!--                </div>-->

<!--                <div class="col-md-6 container-fluid" style="padding-left: 30px">-->
<!--                    <h4 class="color-text">Название продукта: <small>акустическая гитара</small></h4>-->
<!--                    <h4 class="color-text">Цена: <small>2000$</small></h4>-->
<!--                    <hr>-->
<!--                    <h5>описание:</h5>-->

<!--                    <p style="font-size: 15px">-->
<!--                        <b> Производитель:</b> testProduct-->
<!--                    </p>-->
<!--                    <p style="font-size: 15px">-->
<!--                        <b>Гарантия:</b> 4 года-->
<!--                    </p>-->
<!--                    <p style="font-size: 15px">-->
<!--                        <b>Цвет:</b> красный-->
<!--                    </p>-->
<!--                    <p style="font-size: 15px">-->
<!--                        <b>Размер:</b> 66-->
<!--                    </p>-->
<!--                    <p style="font-size: 15px">-->
<!--                        <b>Вес:</b> 6-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container-fluid">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <div style="padding-block: 50px">-->
<!--                        <p class="navbar-default jumbotron" style="font-size: 13px">-->
<!--                            Гитара представляет собой корпус с длинной плоской шейкой, называемой «гриф». Лицевая, рабочая-->
<!--                            сторона грифа — плоская либо слегка выпуклая. Вдоль нее натянуты струны, закрепленные одним-->
<!--                            концом на корпусе, другим на окончании грифа, которое называется «голова» или «головка» грифа.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->
<!--                    <div>-->
<!--                        <h3><small>Отзывы</small></h3>-->

<!--                    </div>-->
<!--                    <div class="panel panel-default">-->
<!--                        <div class="panel-body">-->
<!--                            <p style="font-size: 13px">almazbekov-->
<!--                            <hr>-->
<!--                            <p style="font-size: 12px">Искала гитару в музыкальных магазинах. И вот, спустя 3 месяца в-->
<!--                                одном магазине меня привлекла именно эта гитара. Что мне понравилось в ней. 1. Гитара-->
<!--                                классическая ( на ней нелоновые струны ) как раз то, что надо новичку ( пальцы не так-->
<!--                                сильно устают ) 2. Цвет. Именно тот, который я очень хотела. Чисто чёрный, только-->
<!--                                наклейка сине-зелёная, которая не так ярко выделяется. 3. Гриф с прикольными колками. (-->
<!--                                Они красивые, напоминают на конфету ) + под колками красиво вырезано. 4. Колки хорошие,-->
<!--                                держат на отлично ! 5. Корпус весь гладкий, нет всяких выпирающих острых деталей и т.д.-->
<!--                                6. И цена. За 2800 эта гитара самое то !!! Если вы не знаете, какую брать, то можете-->
<!--                                смело брать эту. Не пожалеете !!!</p></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<script src="./js/product_page.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>
