<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>

        body {
            /*https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg&ga=GA1.2.1445824779.1623974400*/
            background-image: url("https://images.wallpaperscraft.ru/image/tekstura_fon_tekst_simvoly_50473_1920x1080.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
        }





    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">online-store</a>
            </div>
            <ul class="nav navbar-nav ">
                <li><a href="#">Главная</a></li>
                <li class="active"><a href="#">Информация о продукте</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <div class="navbar-form navbar-right">
                <button type="submit" class="btn btn-success">Регистрация</button>

                <button type="submit" class="btn btn-success">Вход</button>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav class="navbar navbar-default navbat-left jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <!--                2048  x  1536 style="width:512px;height:384px;"-->
                        <img src="https://images.squarespace-cdn.com/content/v1/5c6a80497a1fbd48bc523e2e/1553162161386-I3RN91PU4U374YWS3FSY/093-RST_0279-Modifier.jpg?format=1500w"
                             alt="" width="512" height="384"></div>
                </div>

                <div class="col-md-6 container-fluid" style="padding-left: 30px">
                    <h4 class="color-text">Название продукта: <small>акустическая гитара</small></h4>
                    <h4 class="color-text">Цена: <small>2000$</small></h4>
                    <hr>
                    <h5>описание:</h5>

                    <p style="font-size: 15px">
                        <b> Производитель:</b> testProduct
                    </p>
                    <p style="font-size: 15px">
                        <b>Гарантия:</b> 4 года
                    </p>
                    <p style="font-size: 15px">
                        <b>Цвет:</b> красный
                    </p>
                    <p style="font-size: 15px">
                        <b>Размер:</b> 66
                    </p>
                    <p style="font-size: 15px">
                        <b>Вес:</b> 6
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div style="padding-block: 50px">
                        <p class="navbar-default jumbotron" style="font-size: 13px">
                            Гитара представляет собой корпус с длинной плоской шейкой, называемой «гриф». Лицевая, рабочая
                            сторона грифа — плоская либо слегка выпуклая. Вдоль нее натянуты струны, закрепленные одним
                            концом на корпусе, другим на окончании грифа, которое называется «голова» или «головка» грифа.
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <h3><small>Отзывы</small></h3>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p style="font-size: 13px">almazbekov
                            <hr>
                            <p style="font-size: 12px">Искала гитару в музыкальных магазинах. И вот, спустя 3 месяца в
                                одном магазине меня привлекла именно эта гитара. Что мне понравилось в ней. 1. Гитара
                                классическая ( на ней нелоновые струны ) как раз то, что надо новичку ( пальцы не так
                                сильно устают ) 2. Цвет. Именно тот, который я очень хотела. Чисто чёрный, только
                                наклейка сине-зелёная, которая не так ярко выделяется. 3. Гриф с прикольными колками. (
                                Они красивые, напоминают на конфету ) + под колками красиво вырезано. 4. Колки хорошие,
                                держат на отлично ! 5. Корпус весь гладкий, нет всяких выпирающих острых деталей и т.д.
                                6. И цена. За 2800 эта гитара самое то !!! Если вы не знаете, какую брать, то можете
                                смело брать эту. Не пожалеете !!!</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<script src="main.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>
