*,
*::before,
*::after {
    box-sizing: border-box;
}
main {
    padding-top: 80px;
}
.section-main-class {
    padding-top: 30px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}
.section-inner-one {
    width: 50%;
    padding: 0 40px;
}
.section-inner-two {
    width: 50%;
}
textarea {
    min-height: 27px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f5f6f6;
    outline: none;
    resize: none;
    padding: 0 20px;
}
input[type="submit"], button {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"] {
    color: #fff;
    background-color: rgb(80, 76, 76);
}
.div-two {
    display: flex;
}
.btn-inner {
    display: flex;
    justify-content: flex-end;
}
.btn-outer {
    display: none;
}
/*.div-main-button-class {*/
/*    border: 1px solid black;*/
/*}*/
.three-dots {
    padding: 0 20px 5px 20px;
    cursor: pointer;
}
.div-main-picture-class {
    padding: 20px 10px;
}
.picture-class {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.div-main-comment-class {
    padding: 0 10px;
    width: 79%;
    overflow-wrap: break-word;
}
.user-name-over-comment {
    font-size: 15px;
    font-family: serif;
}
.comment-thread-class {
    color: blue;
}
.comment-class {
    padding: 10px 0;
}
.answer-for-comment {
    color: gray;
    padding: 0;
}
.text-id {
    cursor: pointer;
    display: inline;
}
figure {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: #ffffff;
    margin: 3px 0;
}
.three-dots:hover figure{
    background: black;
}
.update-delete-classes {
     display: none;
    position: absolute;
    width: 100px;
    height: 58px;
    /*border: 1px solid black;*/
    transform: translate(0px, 0px);
    background-color: beige;
}

