.inner-in-main-class {
    float: left;
    width: 10%;
}

nav .justify-content-end {
    float: left;
    width: 40%;
}

.container {
    padding-top: 40px;
}

.content-below {
    padding: 10px 40px;
}

.category-list-class {
    padding: 5px 0;
    cursor: pointer;
    width: 230px;
    height: 35px;
    text-decoration: none;
    padding: 0;
    margin: 1px 0;
    border: 0;
    background-color: #f6f6f6;
    border-radius: 5px;
}
.category-class:hover {
    background-color: rgb(201, 220, 239);
    color: rgb(103, 92, 92);
    font-size: 19px;
    -webkit-transition: transform 1.05s ease-in-out;
    position: relative;
}
.category-on-left-side {
    width: 252px;
    min-height: 200px;
    list-style-type: none;
    background-color: #cfcccc;
    color: #406bef;
    position: absolute;
    transform: translate(-207px, 659px);
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
    border-radius: 5px;
}
