.inner-in-main-class {
    float: left;
    width: 10%;
}
nav .justify-content-end {
    float: left;
    width: 40%;
}
.container {
    padding-top: 40px;
}
.content-below {
    padding: 10px 40px;
}
.category-list-class {
    padding: 5px 0;
    cursor: pointer;
}
.category-list-class:hover {
    background-color: rgba(64, 107, 239, 20%);
    color: rgba(1, 55, 218, 0.73);
    font-size: 18px;
    -webkit-transition: transform 1.05s ease-in-out;
    position: relative;
    border-radius: 10px;
}
.category-on-left-side {
    width: 210px;
    list-style-type: none;
    background-color: transparent;
    color: #406bef;
    min-height: 100px;
    position: absolute;
    transform: translate(-190px, 45px);
    text-align: center;
    font-size: 15px;
}
